includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Cannot call method assertExitCode#'
        - '#Cannot call method assertSuccessful#'
    excludePaths:
        - tests/misc/app/Http/Controllers/BookController.php
